certifi==2021.10.8
chardet==4.0.0
codecov==2.1.12
configobj==5.0.6
coverage==6.0.1
dpath==2.0.5
idna==3.2
ply==3.11
pyhcl==0.4.4
python-dotenv==0.19.1
PyYAML==6.0
requests==2.26.0
six==1.16.0
toml==0.10.2
urllib3==1.26.7
xmltodict==0.12.0
