certifi==2020.12.5
chardet==4.0.0
codecov==2.1.10
configobj==5.0.6
coverage==5.3
dpath==2.0.1
idna==2.10
ply==3.11
pyhcl==0.4.4
python-dotenv==0.15.0
PyYAML==5.3.1
requests==2.25.1
six==1.15.0
toml==0.10.2
urllib3==1.26.2
xmltodict==0.12.0
