certifi==2019.11.28
chardet==3.0.4
codecov==2.0.21
configobj==5.0.6
coverage==5.0.4
dpath==2.0.1
idna==2.9
ply==3.11
pyhcl==0.4.1
python-dotenv==0.12.0
PyYAML==5.3
requests==2.23.0
six==1.14.0
toml==0.10.0
urllib3==1.25.8
xmltodict==0.12.0
